$main-color: #4dd6b6;
$main-font: "Corbel Light";

.row:after{
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

.column{
  float: left;
  //padding: 10px;
  width: 33.33%;
}

.normalValue_title{
  font-size: 40px;
  height: 100px;
  font-family: $main-font;
}

label{
  display: block;
  font-size: 20px;
  text-align: right;
  margin-bottom: -25px;
}

input{
  width: 25px;
  border: none;
  padding: 0.5rem 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;
  border-radius: 12px;

  &:focus{
    outline: none;
  }
}

#save_changes{
  width: 70%;
  font-size: 20px;
  background: $main-color;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease;
  border-radius: 12px;
  margin-bottom: 40px;
  &:hover{
    box-shadow: 4px 3px 9px -1px gray;
    transform: translateY(-5px);
  }
}