.face {
    position: absolute;
    left: 50.4%;
    top: 41.8%;
    z-index: 2;
}
.body {
    position: absolute;
    left: 40%;
    top: 36%;
    z-index: 0;
}
.head {
    position: absolute;
    left: 45.3%;
    top: 37%;
    z-index: 1;
}
.info {
    font-size: 16px;
    margin: 20px;
}