.header{
  margin-top: 130px;

}

.headerTitles{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: serif;
  color: cadetblue;
}

.headerTitleSmall{
  position: absolute;
  top: 18%;
  font-size: 25px;
}

.headerTitleLarge{
  position: absolute;
  top: 20%;
  font-size: 100px;
}

.img_container{
  width: 100%;
  height: auto;
  margin-top: 5px;
  object-fit: cover;

  .start_button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
  }

  .start_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .start_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .start_button:hover span {
    padding-right: 25px;
  }

  .start_button:hover span:after {
    opacity: 1;
    right: 0;
  }

}



.header_img{
  width: 100%;
  height: auto;
  margin-top: 5px;
  object-fit: cover;
}

