$secondary-color: #26343D;
$font : "Calibri Light", sans-serif;

.main-register{
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  background: linear-gradient(to right, $secondary-color 50%, #cfcfcf 50%);
}

.input-group{
  width: 60%;
  position: relative;

  h5{
    font-size: 15px;
    font-style: small;
    font-weight: 300;
    color: gray;
    position: absolute;
    left: 20%;
    top: 0rem;
    margin: 0.5rem auto;
    background: white;
  }

  input{
    margin: 1.2rem auto;
    width: 80%;
    border: none;
    padding: 0.5rem 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem gray;

    &:focus{
      outline: none;
    }
  }
}