.avatar-section {
  margin: auto;
  width: 40%;
  text-align: center;
  padding-bottom: 300px;
  border-radius: 50px;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: black;
}

.text_choices{
  font-size: 15px;
}

.avatar {
  width: 30%;
}

.head {
  position: absolute;
  z-index: 1;
  left:0;
  right: 0;
  margin: auto;
}
.face {
  position: absolute;
  left:0;
  right:0;
  z-index: 2;
  margin: auto;
}
.body {
  position: absolute;
  left:0;
  right:0;
  z-index: 3;
  margin: auto;
}
.algo-details-link {
  border-radius: 10px;
  color: white;
  background-color: #000000;
  margin-left: 1%;
  float: left;
  padding-bottom: 115px;
  padding-left: 30px;
  cursor: pointer;
  padding-right: 30px;
}

.algo-description-text {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #ffffff;
  width: 75%;
}

.algo-description-text h2{
  font-size: 25px;
  text-align: left;
  background-color: #00bab2;
}

.algo-description-text p{
  font-size: 17px;
  text-align: left;
  background-color: #00bab2;
}

.algo-description-graph {
  float: right;
  margin: 20px;
}

.algo {
  display: inline-block;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.algo-section, .algo-section-infarct, .algo-section-noInfarct{
  color: black;
}


.algo-description{
  background-color: #00bbb3;
  float:left;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
}

.h4_results{
  font-size: 18px;
}

.results-page {
  width: 100%;
  color: black;
}

.regroup_div{
  display: flex;
  text-align: center;
  width: 100%;
}

.result-question {
  color: black;
  text-align: left;
  padding: 30px;
  margin: 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 1420px) {
  .result-question {
    box-shadow: 0.5rem 0.5rem 2rem -1rem rgb(58, 57, 57);
  }

  .input_change{
    font-size: 15px;
    height: 33px;
    border-radius: 0px;
    box-shadow: none;
  }

  .radio_button{
    box-shadow: none;
    height: 10px;
  }

  .algo-section, .algo-section-infarct, .algo-section-noInfarct {
    width: 95%;
  }
  .algo-description {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 0%;
  }
  .algo-details-link {
    width: 100%;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 2%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .avatar-section {
    padding-bottom: 20%;
  }
}
