$block: '.quantity-input';
$border: 0 solid #dbdbdb;
$color--primary: #f3f3f3;
$modifier--text-color: #888;

.top-section {
  margin-bottom: 50%;
}

.avatar-section {
  float: left;
  width: 97%;
  margin: 20px;
  text-align: center;
  padding-bottom: 300px;
  border-radius: 10px;
  background-color: #f3f3f3;
  
  border-style: solid;
  border-color: black;
}

.avatar {
  width: 30%;
}

.head {
  position: absolute;
  z-index: 1;
  left:0;
  right: 0;
  margin: auto;
}
.face {
  position: absolute;
  left:0;
  right:0;
  z-index: 2;
  margin: auto;
}
.body {
  position: absolute;
  left:0;
  right:0;
  z-index: 3;
  margin: auto;
}
.algo-details-link {
  border-radius: 10px;
  color: white;
  background-color: #000000;
  margin-left: 1%;
  float: left;
  padding-bottom: 115px;
  padding-left: 30px;
  cursor: pointer;
  padding-right: 30px;
}

.algo-description-text {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  background-color: #ffffff;
  width: 75%;
}

.algo-description-text h2{
  font-size: 25px;
  text-align: left;
  background-color: #00bab2;
}

.algo-description-text p{
  font-size: 17px;
  text-align: left;
  background-color: #00bab2;
}

.algo-description-graph {
  float: right;
  margin: 20px;
}

.algo {
  float: left;
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
}

.algo-section, .algo-section-infarct, .algo-section-noInfarct{
  color: black;
}


.algo-description{
  background-color: #00bbb3;
  float:left;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 87.9%;
}


.results-page {
  width: 100%;
  color: black;
  //background-color: #00bcb4;
}

.result-question {
  background-color: #00b9b1;
  color: white;
  text-align: left;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}


//Percentage circle graph

#{$block} {
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    background: red;
  }
}
#{$block}__modifier,
#{$block}__screen {
  user-select: none;
  outline: none;
}
#{$block}__modifier {
  padding: .7rem;
  width: 3rem;
  font-size: 1.5rem;

  background: $color--primary;
  color: $modifier--text-color;
  border: $border;
  text-align: center;

  cursor: pointer;

  &:hover {
    background: darken($color--primary, 10%);
    color: darken($modifier--text-color, 20%)
  }

}
#{$block}__screen {
  width: 4rem;
  padding: .7rem;
  font-size: 1.5rem;
  border-top: $border;
  border-bottom: $border;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
}$block: '.quantity-input';
$border: 0 solid #dbdbdb;
$color--primary: #f3f3f3;
$modifier--text-color: #888;
#{$block} {
  display: flex;
  justify-content: center;
  align-items: center;


  &:focus {
    background: red;
  }
}
#{$block}__modifier,
#{$block}__screen {
  user-select: none;
  outline: none;
}
#{$block}__modifier {
  padding: .7rem;
  width: 3rem;
  font-size: 1.5rem;

  background: $color--primary;
  color: $modifier--text-color;
  border: $border;
  text-align: center;

  cursor: pointer;

  &:hover {
    background: darken($color--primary, 10%);
    color: darken($modifier--text-color, 20%)
  }
}
#{$block}__screen {
  width: 4rem;
  padding: .7rem;
  font-size: 1.5rem;

  border: 0;
  border-top: $border;
  border-bottom: $border;
  text-align: center;
}

@media only screen and (max-width: 1420px) {
  .result-question {
    background-color: cornflowerblue;
  }
  .algo-section {
    margin-right: 20px;
    width: 98%;
  }
  .algo-description {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 0%;
  }
  .algo-details-link {
    width: 100%;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 2%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .avatar-section {
    padding-bottom: 741px;
  }
  .top-section {
    margin-bottom: 70%;
  }
}

@media only screen and (max-width: 1180px) {
  .result-question {
    background-color: black;
  }
  .top-section {
    margin-bottom: 130%;
  }
  .algo {
    float: left;
    margin-left: 20px;
    width: 99%;
  }
  .algo-description-text {
    width: 80%;
  }
  .avatar-section {
    width: 97%;
    padding-bottom: 500px;
  }
}
